{% extends "layouts/base.html" %}

{% block title %} Technology Edit {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/technology-crud/view"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:"><span
                                                style="text-transform: capitalize;"> Edit Technology </span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Edit Technology {{technology.techName}}</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form action="updaterecord/{{ technology.id }}" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="technologyName">Technology Name</label>
                                                        <input type="text" class="form-control"
                                                            value="{{technology.techName}}" name="technologyName"
                                                            placeholder="Enter Technology Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="technologySubname">Technology Subname (for backend
                                                            purpose)</label>
                                                        <input type="text" class="form-control"
                                                            value="{{technology.techSubname}}" name="technologySubname"
                                                            placeholder="Enter Technology Subname">
                                                    </div>
                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            value="{{technology.is_active}}" name="active">
                                                        <label class="form-check-label" for="isActive">Active?</label>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary"
                                                        value="Submit">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}