<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" style="padding: 5px;">
        <ul class="navbar-nav ml-auto" style="margin-left: 0px !important;">
            <li>
                <label>
                    <a href="/">
                        <img style="height: 96px" src="{{ ASSETS_ROOT }}/images/brand-logo/home-logo.png"
                            alt="Hire-Exe">
                    </a>
                </label>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <label>
                    <a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i
                            class="feather icon-maximize"></i></a>
                </label>
            </li>
            <li>
                <label>
                    <i class="icon feather icon-sun" id="theme-indicator"></i>
                    <input type="checkbox" id="theme-switch" class="d-none">
                </label>
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->